.footer {
    background-color: #444444;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    & div {
        display: inline-block;
    }

    & a {
        font-size: 14px;
        color: #818181;
    }

    & .lang a {
        padding: 5px;
    }

}